# =================================================================
# PLANTILLA DE VARIABLES DE ENTORNO (COPIA ESTE ARCHIVO A .env)
# =================================================================

POSTGRES_USER=odoo_user
POSTGRES_PASSWORD=TU_POSTGRES_PASSWORD_AQUI
POSTGRES_DB=postgres

ODOO_MASTER_PASSWORD=TU_MASTER_PASSWORD_ODOO_AQUI

TZ=America/Managua
